<!DOCTYPE html>
<html lang="zxx">

<head>
{{>header}}
</head>

<body id="top-header">
{{>navbar}}

<!--====== Header End ======-->
<section class="page-header">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-8">
          <div class="title-block">
            <h1>About Us</h1>
            <ul class="header-bradcrumb justify-content-center">
              <li><a href="index">Home</a></li>
              <li class="active" aria-current="page">About</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- About Section Start -->
<section class="about-3 section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-6">
                <div class="about-img">
                    <img src="/images/banner/img_9.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-content mt-5 mt-lg-0">
                    <div class="heading mb-50">
                        <span class="subheading">10 years Glory of success</span>
                        <h2 class="font-lg">Some reasons why Start Your Online Learning with Us</h2>
                    </div>

                    <div class="about-features">
                        <div class="feature-item feature-style-left">
                            <div class="feature-icon icon-bg-3 icon-radius">
                                <i class="fa fa-video"></i>
                            </div>
                            <div class="feature-text">
                                <h4>Online Classes</h4>
                                <p>Online education is a procedure of gaining skills and knowledge through electronic devices like computers, mobiles, laptops, etc using the internet. </p>
                            </div>
                        </div>

                        <div class="feature-item feature-style-left">
                            <div class="feature-icon icon-bg-2 icon-radius">
                                <i class="far fa-file-certificate"></i>
                            </div>
                            <div class="feature-text">
                                <h4>Skilled Instructors</h4>
                                <p>Skills Trainers are responsible for creating and teaching courses that are specialized for students.Their duties include conducting initial analysis through questionnaires, surveys, and focus groups. </p>
                            </div>
                        </div>
                        
                        <div class="feature-item feature-style-left">
                            <div class="feature-icon icon-bg-1 icon-radius">
                                <i class="fad fa-users"></i>
                            </div>
                            <div class="feature-text">
                                <h4>Get Certificate</h4>
                                <p>Get verified certificate from top universities all over the world and get certified by top instructors along with access to life changing courses. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section END -->
<!-- InstructorsSection Start -->
<section class="instructors section-padding-btm">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 pe-5">
                <div class="section-heading">
                    <span class="subheading">Start Today</span>
                    <h2 class="font-lg mb-20">Our Top Instructors</h2>
                    <p class="mb-30">Do you want to be an instructor? Do you want to share your knowledge with everyone? If you have any skill then you can easily 
                        share your knowledge online or offline  through iLive platform & make money.</p>
                       
                    <ul class="list-item mb-40">
                        <li><i class="fa fa-check"></i><h5>Develop your skills</h5></li>
                        <li><i class="fa fa-check"></i><h5>Share your knowledge </h5></li>
                        <li><i class="fa fa-check"></i><h5>Earn from globally </h5></li>
                    </ul>
                    <a href="#" class="btn btn-main rounded" >Start Teaching today</a>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="team-item team-item-2 mt-5">
                            <div class="team-img">
                                <img src="/images/team/team-4.jpg" alt="" class="img-fluid">
        
                                <ul class="team-socials list-inline">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <h4>Lauren Koshy</h4>
                                    <p>SEO Expert</p>
                                </div>
        
                                <div class="course-meta">
                                    <span class="duration"><i class="far fa-user-alt"></i>699 Students</span>
                                    <span class="lessons"><i class="far fa-play-circle me-2"></i>10 Courses</span>
                                </div>
                            </div>
                        </div>

                        <div class="team-item team-item-2">
                            <div class="team-img">
                                <img src="/images/team/team-1.jpg" alt="" class="img-fluid">
                                <ul class="team-socials list-inline">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <h4>Jason Roy</h4>
                                    <p>CEO, Developer</p>
                                </div>
                                <div class="course-meta">
                                    <span class="duration"><i class="far fa-user-alt"></i>128 Students</span>
                                    <span class="lessons"><i class="far fa-play-circle me-2"></i>4 Courses</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="team-item team-item-2">
                            <div class="team-img">
                                <img src="/images/team/team-2.jpg" alt="" class="img-fluid">
        
                                <ul class="team-socials list-inline">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <h4>Millie Sane</h4>
                                    <p>Web Developer</p>
                                </div>
                                <div class="course-meta">
                                    <span class="duration"><i class="far fa-user-alt"></i>999 Students</span>
                                    <span class="lessons"><i class="far fa-play-circle me-2"></i>7 Courses</span>
                                </div>
                            </div>
                        </div>

                        <div class="team-item team-item-2">
                            <div class="team-img">
                                <img src="/images/team/team-3.jpg" alt="" class="img-fluid">
        
                                <ul class="team-socials list-inline">
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <h4>Dwayne Johnson</h4>
                                    <p>Marketer</p>
                                </div>
        
                                <div class="course-meta">
                                    <span class="duration"><i class="far fa-user-alt"></i>1542 Students</span>
                                    <span class="lessons"><i class="far fa-play-circle me-2"></i>5 Courses</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Instructors Section End -->
<!-- Counter Section start -->
<section class="counter-section4">
    <div class="container">
        <div class="row justify-content-center" >
            <div class="col-xl-12 counter-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item mb-5 mb-lg-0">
                            <div class="count">
                                <span class="counter h2">2000</span><span>+</span>
                            </div>
                            <p>Students</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item mb-5 mb-lg-0">
                            <div class="count">
                                <span class="counter h2">1200</span>
                            </div>
                            <p>Online Courses</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item mb-5 mb-lg-0">
                            <div class="count">
                                <span class="counter h2">2256</span>
                            </div>
                            <p>Finished Seasons</p>     
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item">
                            <div class="count">
                                <span class="counter h2">100</span><span>%</span>
                            </div>
                            <p>Satisfaction</p>     
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</section>
<!-- COunter Section End -->



<!-- Testimonial section start -->
<section class="testimonial-4 section-padding bg-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section-heading text-center mb-50">
                    <h2 class="font-lg">Our Students Says</h2>
                    <p>Reviews to different courses given by our students.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12 col-xl-12">
                <div class="testimonials-slides owl-carousel owl-theme">
                    <div class="testimonial-item">
                       <div class="testimonial-inner">
                           <div class="quote-icon"><i class="flaticon-left-quote"></i></div>
                           
                            <div class="testimonial-text mb-30">
                                This course was very interesting and thought provoking. I would certainly recommend for any teacher that is now trying to work with their students from within an online forum. Thank you!!
                            </div>

                            <div class="client-info d-flex align-items-center">
                                <div class="client-img">
                                    <img src="/images/clients/testimonial-avata-01.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Zack Efron</h4>
                                    <span class="meta">Marketing Intern</span>
                                </div>
                            </div>
                       </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-inner">
                            <div class="quote-icon"><i class="flaticon-left-quote"></i></div>
                           
                            <div class="testimonial-text  mb-30">
                                This course is Amazing. The learning opportunity helps me to become more EQUIPT with the necessary information and practices that I need to be more effective in my work.
                            </div>

                            <div class="client-info d-flex align-items-center">
                                <div class="client-img">
                                    <img src="/images/clients/testimonial-avata-02.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Emma Watson</h4>
                                    <span class="meta">Data Analyst</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-inner">
                            <div class="quote-icon"><i class="flaticon-left-quote"></i></div>
                          
                            <div class="testimonial-text  mb-30">
                                The course provides a thought provoking review of the learning best practice and highlights some potential areas where technology will better enable us to implement this best practice. 
                            </div>

                            <div class="client-info d-flex align-items-center">
                                <div class="client-img">
                                    <img src="/images/clients/testimonial-avata-03.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Brad Pitt</h4>
                                    <span class="meta">Web Developer</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-inner">
                            <div class="quote-icon"><i class="flaticon-left-quote"></i></div>
                            
                            <div class="testimonial-text mb-30">
                                This course is fantastic! I started with a level of expectation that was quickly overwhelmed and I finished got achieving much more. This extens content gave me valuable insights.
                            </div>

                            <div class="client-info d-flex align-items-center">
                                <div class="client-img">
                                    <img src="/images/clients/testimonial-avata-04.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Peter Parker</h4>
                                    <span class="meta">Research Intern</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section End -->
<!-- Work Process Section Start -->
<section class="work-process section-padding">
    <div class="container">
        <div class="row mb-40">
            <div class="col-xl-8">
                <div class="section-heading ">
                    <h2 class="font-lg">4 steps to follow to start your journey</h2>
                    <p>Start learning from the best online platform that offers you the best training program.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-xl-7 pe-xl-5 col-lg-12">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="step-item ">
                            <div class="step-number bg-1">01</div>
                            <div class="step-text">
                                <h5>Signup with all info</h5>
                                <p>Register by entering your details and gets access to the best online courses.</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="step-item">
                            <div class="step-number bg-2">02</div>
                            <div class="step-text">
                                <h5>Take your Admission</h5>
                                <p>Chance to be a part of the best online training program.</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-xl-6 col-lg-6 col-md-6 ">
                        <div class="step-item">
                            <div class="step-number bg-3">03</div>
                            <div class="step-text">
                                <h5>Learn from online </h5>
                                <p>Learn form the best tutors all over the world.</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="step-item">
                            <div class="step-number bg-1">04</div>
                            <div class="step-text">
                                <h5>Get certificate</h5>
                                <p>Get a verified certificate from best universities all over the world. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-5">
                <div class="video-section mt-3 mt-xl-0">
                    <div class="video-content">
                        <img src="/images/bg/office01.html" alt="" class="img-fluid">
                        <a href="#" class="video-icon video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Work Process Section End -->

<!-- Footer section start -->
{{>footer}}
  </body>

</html>
   