<!DOCTYPE html>
<html lang="zxx">

<head>
 {{>header}}
</head>

<body id="top-header">

{{>navbar}}
<!--====== Header End ======-->
<!-- Banner Section Start -->
<section class="banner-style-2 ">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-xl-8 col-lg-10">
                <div class="banner-content text-center">
                    <span class="subheading">Join the Millions Learning</span>
                    <h1 class="cd-headline clip is-full-width">Learn how to
                        <span class="cd-words-wrapper">
                        <b class="is-visible">design</b>
                        <b>code</b>
                        <b>develop</b>
                        </span>
                    </h1>

                    <p>Choose from over 100,000 online video courses with new additions published every month</p>
                    
                   <div class="btn-container">
                       <a href="#" class="btn btn-main rounded">Find Courses</a>
                       <a href="#" class="btn btn-white rounded ms-2">Get started </a>
                   </div>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>
<!-- Banner Section End -->

<!-- Counter Section start -->
<section class="counter-section4">
    <div class="container">
        <div class="row justify-content-center" >
            <div class="col-xl-12 counter-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item mb-5 mb-lg-0">
                            <div class="count">
                                <span class="counter h2">2000</span><span>+</span>
                            </div>
                            <p>Students</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item mb-5 mb-lg-0">
                            <div class="count">
                                <span class="counter h2">1200</span>
                            </div>
                            <p>Online Courses</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item mb-5 mb-lg-0">
                            <div class="count">
                                <span class="counter h2">2256</span>
                            </div>
                            <p>Finished Seasons</p>     
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item">
                            <div class="count">
                                <span class="counter h2">100</span><span>%</span>
                            </div>
                            <p>Satisfaction</p>     
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</section>
<!-- COunter Section End -->




<!--  Course style 1 -->

<section class="course-wrapper section-padding ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-heading mb-70 text-center">
                    <h2 class="font-lg">Popular Courses</h2>
                    <p>Discover Your Perfect Program In Our Courses.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-lg-center">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="course-grid bg-shadow tooltip-style">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="/images/course/Web Development.jpg" alt="" class="img-fluid">
                            <div class="course-price">₹999</div>
                        </div>
                    </div>
    
                    <div class="course-content">
                        <div class="rating mb-10">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                            <span>4.5 (100 reviews)</span>
                        </div>

                        <h3 class="course-title mb-20"> <a href="#">The Complete Fullstack Web Developer Course </a> </h3>

                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between ">
                            <span class="duration"><i class="far fa-clock me-2"></i>15 hr</span>
                            <span class="students"><i class="far fa-user-alt me-2"></i>2k Students</span>
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>30 Lessons</span>
                        </div>
                    </div>
    
                    <div class="course-hover-content">
                        <div class="price">₹999</div>
                        <h3 class="course-title mb-20 mt-30"> <a href="#">The Complete Fullstack Web Developer Course </a> </h3>
                        <div class="course-meta d-flex align-items-center mb-20">
                            <div class="author me-4">
                                <img src="/images/course/course-2.jpg" alt="" class="img-fluid">
                                <a href="#">Dennis W</a>
                            </div>
                            <span class="lesson"> <i class="far fa-file-alt"></i> 30 lessons</span>
                        </div>
                        <p class="mb-20">This course is designed for every skill level. Whether you're just learning web development today, or you're already a Python Pro, there's lots to learn for everybody.</p>
                        <a href="#" class="btn btn-grey btn-sm rounded">Join Now <i class="fal fa-angle-right"></i></a>
                    </div>
                </div>
             </div>
            <!-- COURSE END -->

            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="course-grid bg-shadow tooltip-style">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="/images/course/Machine Learning.jpg" alt="" class="img-fluid">
                            <div class="course-price">₹699</div>
                        </div>
                    </div>
    
                    <div class="course-content">
                        <div class="rating mb-10">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                            <span>3.9 (70 reviews)</span>
                        </div>

                        <h3 class="course-title mb-20"> <a href="#">Complete Machine Learning & Data Science Bootcamp</a> </h3>
                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between ">
                            <span class="duration"><i class="far fa-clock me-2"></i>8.5 hr</span>
                            <span class="students"><i class="far fa-user-alt me-2"></i>500 Students</span>
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>22 Lessons</span>
                        </div>
                    </div>
    
                    <div class="course-hover-content">
                        <div class="price">₹699</div>
                        <h3 class="course-title mb-20 mt-30"> <a href="#">Complete Machine Learning & Data Science Bootcamp</a> </h3>
                        <div class="course-meta d-flex align-items-center mb-20">
                            <div class="author me-4">
                                <img src="/images/course/course-2.jpg" alt="" class="img-fluid">
                                <a href="#">Josephin</a>
                            </div>
                            <span class="lesson"> <i class="far fa-file-alt"></i> 22 lessons</span>
                        </div>
                        <p class="mb-20">This is a top selling Machine Learning and Data Science course just updated this month with the latest trends and skills for 2023!</p>
                        <a href="#" class="btn btn-grey btn-sm rounded">Join Now <i class="fal fa-angle-right"></i></a>
                    </div>
                </div>
             </div>
            <!-- COURSE END -->
            
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="course-grid bg-shadow tooltip-style">
                    <div class="course-header">
                        <div class="course-thumb">
                            <img src="/images/course/Data Analytics.jpg" alt="" class="img-fluid">
                            <div class="course-price">₹1,299</div>
                        </div>
                    </div>
    
                    <div class="course-content">
                        <div class="rating mb-10">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                            <span>4.2 (52 reviews)</span>
                        </div>

                        <h3 class="course-title mb-20"> <a href="#">The Data Science Course 2022: Complete Data Science Bootcamp</a> </h3>

                    
                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between ">
                            <span class="duration"><i class="far fa-clock me-2"></i>10 hr</span>
                            <span class="students"><i class="far fa-user-alt me-2"></i>982 Students</span>
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>16 Lessons</span>
                        </div>
                    </div>
    
                    <div class="course-hover-content">
                        <div class="price">₹1,299</div>
                        <h3 class="course-title mb-20 mt-30"> <a href="#">The Data Science Course 2022: Complete Data Science Bootcamp</a> </h3>
                        <div class="course-meta d-flex align-items-center mb-20">
                            <div class="author me-4">
                                <img src="/images/course/course-2.jpg" alt="" class="img-fluid">
                                <a href="#">Andrew Ng</a>
                            </div>
                            <span class="lesson"> <i class="far fa-file-alt"></i> 16 lessons</span>
                        </div>
                        <p class="mb-20">We believe this is the first training program that solves the biggest challenge - having all the necessary resources in one place.</p>
                        <a href="#" class="btn btn-grey btn-sm rounded">Join Now <i class="fal fa-angle-right"></i></a>
                    </div>
                </div>
             </div>
            <!-- COURSE END -->
        </div>
    </div>
</section>

<!--  Course style 1 End -->

<!--  Course category -->
<section class="course-category-3 section-padding">
    <div class="container">
        <div class="row mb-70 justify-content-center">
            <div class="col-xl-8">
                <div class="section-heading text-center">
                    <h2 class="font-lg">Categories you want to learn</h2>
                    <p>Explore the different categories you are interested in. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl col-lg-4 col-sm-6">
                <div class="single-course-category style-3 bg-1">
                    <div class="course-cat-icon">
                        <img src="/images/icon/icon1.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Data Science & Analytics</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-xl col-lg-4 col-sm-6">
                <div class="single-course-category style-3 bg-2">
                    <div class="course-cat-icon">
                        <img src="/images/icon/icon2.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Artificial Intellegence</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-xl col-lg-4 col-sm-6">
                <div class="single-course-category style-3 bg-3">
                    <div class="course-cat-icon">
                        <img src="/images/icon/icon3.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Machine <br> Learning</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-xl col-lg-4 col-sm-6">
                <div class="single-course-category style-3 bg-4">
                    <div class="course-cat-icon">
                        <img src="/images/icon/icon4.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Web Development</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-xl col-lg-4 col-sm-6">
                <div class="single-course-category style-3 bg-5">
                    <div class="course-cat-icon">
                        <img src="/images/icon/icon6.png" alt="" class="img-fluid">
                    </div>
                    <div class="course-cat-content">
                        <h4 class="course-cat-title">
                            <a href="#">Digital <br> Marketing </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Course category End -->
<!-- Work Process Section Start -->
<section class="work-process section-padding">
    <div class="container">
        <div class="row mb-40">
            <div class="col-xl-8">
                <div class="section-heading ">
                    <h2 class="font-lg">Start your journey with us</h2>
                    <p>Start learning from the best online platform that offers you the best training program.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-xl-7 pe-xl-5 col-lg-12">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="step-item ">
                            <div class="step-number bg-1">01</div>
                            <div class="step-text">
                                <h5>Signup with all info</h5>
                                <p>Register by entering your details and gets access to the best online courses.</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="step-item">
                            <div class="step-number bg-2">02</div>
                            <div class="step-text">
                                <h5>Take your Admission</h5>
                                <p>Chance to be a part of the best online training program.</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-xl-6 col-lg-6 col-md-6 ">
                        <div class="step-item">
                            <div class="step-number bg-3">03</div>
                            <div class="step-text">
                                <h5>Learn from online </h5>
                                <p>Learn form the best tutors all over the world.</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="step-item">
                            <div class="step-number bg-1">04</div>
                            <div class="step-text">
                                <h5>Get certificate</h5>
                                <p>Get a verified certificate from best universities all over the world. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-5">
                <div class="video-section mt-3 mt-xl-0">
                    <div class="video-content">
                        <img src="/images/bg/office01.html" alt="" class="img-fluid">
                        <a href="#" class="video-icon video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Work Process Section End -->

<!--  Course style 1 End -->
<!-- Feature section start -->
<section class="features-3 section-padding-top ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-heading mb-50 text-center">
                    <h2 class="font-lg">Transform Your Life </h2>
                    <p>Make significant changes in your life with impactful courses.</p>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-3 col-md-6 col-xl-3 col-sm-6">
                <div class="feature-item feature-style-top hover-shadow rounded border-0">
                    <div class="feature-icon">
                        <i class="flaticon-teacher"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Expert Teacher</h4>
                        <p>Learn form experts all over the world in multiple languages.</p>
                    </div>
                </div>
            </div>
             <div class="col-lg-3 col-md-6 col-xl-3 col-sm-6">
                <div class="feature-item feature-style-top hover-shadow rounded border-0">
                    <div class="feature-icon">
                        <i class="flaticon-layer"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Self Development</h4>
                        <p>Learns from courses that help in personal growth and developement.</p>
                    </div>
                </div>
            </div>
             <div class="col-lg-3 col-md-6 col-xl-3 col-sm-6">
                <div class="feature-item feature-style-top hover-shadow rounded border-0">
                    <div class="feature-icon">
                        <i class="flaticon-video-camera"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Remote Learning</h4>
                        <p>Gets access to the courses no matter where you are.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xl-3 col-sm-6">
                <div class="feature-item feature-style-top hover-shadow rounded border-0">
                    <div class="feature-icon">
                        <i class="flaticon-lifesaver"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Life Time Support</h4>
                        <p>Get life time support from the best tutors and universities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature section End -->
<!-- Team section start -->
<section class="team section-padding">
    <div class="container">
        <div class="row  mb-100">
            <div class="col-lg-8 col-xl-8">
                <div class="section-heading text-center text-lg-start">
                    <h2 class="font-lg">Top Rated Instructors</h2>
                    <p>Get access to lectures by the best instructors all over the world.</p>
                </div>
            </div>

             <div class="col-xl-4 col-lg-4">
                <div class="text-center text-lg-end">
                    <a href="#" class="btn btn-main-outline rounded">All Instructors <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-item team-item-4 mb-70 mb-xl-0">
                    <div class="team-img">
                        <img src="/images/team/team-4.jpg" alt="" class="img-fluid">

                        <ul class="team-socials list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h4>Lauren Koshy</h4>
                            <p>SEO Expert</p>
                        </div>

                        <div class="course-meta">
                            <span class="duration"><i class="far fa-user-alt"></i>699 Students</span>
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>10 Courses</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-item team-item-4 mb-70 mb-xl-0">
                    <div class="team-img">
                        <img src="/images/team/team-1.jpg" alt="" class="img-fluid">
                        <ul class="team-socials list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h4>Jason Roy</h4>
                            <p>CEO, Developer</p>
                        </div>
                        <div class="course-meta">
                            <span class="duration"><i class="far fa-user-alt"></i>128 Students</span>
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>4 Courses</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-item team-item-4 mb-70 mb-xl-0">
                    <div class="team-img">
                        <img src="/images/team/team-2.jpg" alt="" class="img-fluid">

                        <ul class="team-socials list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h4>Millie Sane</h4>
                            <p>Web Developer</p>
                        </div>
                        <div class="course-meta">
                            <span class="duration"><i class="far fa-user-alt"></i>999 Students</span>
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>7 Courses</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-item team-item-4">
                    <div class="team-img">
                        <img src="/images/team/team-3.jpg" alt="" class="img-fluid">

                        <ul class="team-socials list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h4>Dwayne Johnson</h4>
                            <p>Marketer</p>
                        </div>

                        <div class="course-meta">
                            <span class="duration"><i class="far fa-user-alt"></i>1542 Students</span>
                            <span class="lessons"><i class="far fa-play-circle me-2"></i>5 Courses</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team section End -->

<!-- Testimonial section start -->
<section class="testimonial-4 section-padding bg-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section-heading text-center mb-50">
                    <h2 class="font-lg">Our Students Says</h2>
                    <p>Reviews to different courses given by our students.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12 col-xl-12">
                <div class="testimonials-slides owl-carousel owl-theme">
                    <div class="testimonial-item">
                       <div class="testimonial-inner">
                           <div class="quote-icon"><i class="flaticon-left-quote"></i></div>
                           
                            <div class="testimonial-text mb-30">
                                This course was very interesting and thought provoking. I would certainly recommend for any teacher that is now trying to work with their students from within an online forum. Thank you!!
                            </div>

                            <div class="client-info d-flex align-items-center">
                                <div class="client-img">
                                    <img src="/images/clients/testimonial-avata-01.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Zack Efron</h4>
                                    <span class="meta">Marketing Intern</span>
                                </div>
                            </div>
                       </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-inner">
                            <div class="quote-icon"><i class="flaticon-left-quote"></i></div>
                           
                            <div class="testimonial-text  mb-30">
                                This course is Amazing. The learning opportunity helps me to become more EQUIPT with the necessary information and practices that I need to be more effective in my work.
                            </div>

                            <div class="client-info d-flex align-items-center">
                                <div class="client-img">
                                    <img src="/images/clients/testimonial-avata-02.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Emma Watson</h4>
                                    <span class="meta">Data Analyst</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-inner">
                            <div class="quote-icon"><i class="flaticon-left-quote"></i></div>
                          
                            <div class="testimonial-text  mb-30">
                                The course provides a thought provoking review of the learning best practice and highlights some potential areas where technology will better enable us to implement this best practice. 
                            </div>

                            <div class="client-info d-flex align-items-center">
                                <div class="client-img">
                                    <img src="/images/clients/testimonial-avata-03.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Brad Pitt</h4>
                                    <span class="meta">Web Developer</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item">
                        <div class="testimonial-inner">
                            <div class="quote-icon"><i class="flaticon-left-quote"></i></div>
                            
                            <div class="testimonial-text mb-30">
                                This course is fantastic! I started with a level of expectation that was quickly overwhelmed and I finished got achieving much more. This extens content gave me valuable insights.
                            </div>

                            <div class="client-info d-flex align-items-center">
                                <div class="client-img">
                                    <img src="/images/clients/testimonial-avata-04.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Peter Parker</h4>
                                    <span class="meta">Research Intern</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section End -->

<!-- InstructorsSection Start -->
<section class="be-instructor section-padding-btm">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <img src="/images/banner/illustration.png" alt="" class="img-fluid">
             </div>

            <div class="col-xl-6 col-lg-6">
                <div class="section-heading mt-4 mt-lg-0">
                    <span class="subheading">Start Today</span>
                    <h2 class="font-lg mb-20">Become an instructor </h2>
                    <p class="mb-20">Do you want to be an instructor? Do you want to share your knowledge with everyone? If you have any skill then you can easily 
                        share your knowledge online or offline  through iLive platform & make money.</p>
                    <p class="mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit adipisci corporis soluta facilis eum facere nisi dolorem quisquam amet deleniti!</p>
                       
                    <a href="upload" class="btn btn-main rounded" >Start Teaching today</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Instructors Section End -->

<!-- Footer section start -->
{{>footer}}

  </body>
  </html>
